// PRIMARY
$c-primary__light: #fff;
$c-primary__red: #C92F58;
$c-primary__blue: #339B95;

// SECONDARY
$c-secondary__dark: #000;
$c-secondary__red: #C51414;
$c-secondary__blue: #5DC2BD;
$c-secondary__yellow: #E5DABB;
$c-secondary__green: #59d95d;

// AUXILIAR
$c-opacity--light: rgba(255, 255, 255, .09);
$c-dark--70: #311429;
$c-dark--blue: #2C5E5B;