// FAMILY
$f-f__primary: sans-serif;
$f-f__sans: 'Inter', sans-serif;
$f-f__code: 'Inconsolata', monospace;

// WEIGHT
$f-w__regular: 400;
$f-w__bold: 700;
$f-w__heavy: 800;

// SIZE
$f-s__biggest: 2.2rem;
$f-s__big: 1.55rem;
$f-s__default: 1rem;
$f-s__default--alt: .95rem;
$f-s__tiny: .77rem;
$f-s__tiniest: .57rem;
