.w {
    &--100{
        width: 100%;
    }
    &--max {
        max-width: 940px;
    }
}

.h {
    &--100{
        height: 100%;
    }
    &--screen {
        height: 100vh;
    }
}

.d--none {
    display: none !important;
}