.quiz {
    background-color: $c-dark--70;
    border-radius: .2rem;

    .quiz__tx,
    .checkbox__wrapper {
        margin-bottom: .63rem;
    }

    .checkbox__wrapper {
        display: flex;
        align-items: center;
        position: relative;

        &:has(.checkbox:checked) {
            background-color: $c-primary__red;
        }

        &.timeout {
            background-color: $c-secondary__red;
        }
    }

    &__promo {
        .promo__wrapper {
            background-color: $c-primary__light;
            display: flex;
            justify-content: space-between;
            position: relative;
        }
    }
}